body {
    font-size: 1.8rem;
    font-family: "Frutiger", sans-serif;
    color: #ffffff;
    background-color: #181818;
}

.header{
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-size: 1.8rem;
    white-space: nowrap
}

.fontsizes{
    margin: 0 0 25px 0;
}

.fontsizes > button{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    width: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 1000px;
}

.alineakop{
    align-self: flex-start;
    font-weight: bold;
    margin-top: 25px;
}

.alinea{
    margin-bottom: 30px;
    text-align: justify;
    line-height: 1.4;
}

.footerdate{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 90%;
    }
    .alineakop{
        width: 100%;
    }
  }
