body {
    font-size: 1.8rem;
    font-family: "Frutiger", sans-serif;
    color: #ffffff;
    background-color: #181818;
}

.header{
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 1000px;
}

.alineakop{
    align-self: flex-start;
    font-weight: bold;
    margin-top: 25px;
}

.alinea{
    margin-bottom: 30px;
    text-align: justify;
    line-height: 1.4;
}

.footerdate{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 90%;
        font-size: 3.3rem;
    }
    .alineakop{
        width: 100%;
    }
  }
